<header>
  <div class="p-3 clearfix">
    <div class="float-left">
      <img src="logo.png" alt="Fishboard" style="width: 200px; opacity: 0.9;">
    </div>
    <div class="float-right">
      <button class="bg-transparent hover:bg-red text-red-dark uppercase hover:text-white py-2 px-4 border border-red hover:border-transparent rounded" type="button">
        login
      </button>
    </div>
  </div>
</header>

<div class="mt-10 mb-10 p-2 flex flex-row items-center justify-center" >
  <img src="mark.png" style="max-width: 90px; opacity: 0.8">
</div>

<div class="p-2 flex flex-row items-center justify-center" >
  <div class="self-center max-w-full lg:max-w-md">
    <h2 class="mb-2 text-4xl leading-normal tracking-wide" style="opacity: 0.8; font-size: 2rem;">
      Tournament fishing community
    </h2>
    <div class="text-grey-lightest bg-grey-darkest p-8 max-w-full lg:max-w-md rounded pb-12">
      <p class="leading-normal text-xl" style="opacity: 0.9">There are fishing tournement happening every weekend! Get involved. Get win some money. And catch some fish! Sign up to learn more.</p>
      <form class="mt-4 flex" style="opacity: .95">
        <input style="min-width: 140px;" class="rounded-l-sm flex-grow px-4 text-xl" placeholder="Email">
        <button
          style="min-width: 130px;"
          class="bg-blue text-xl hover:bg-blue-dark text-white font-bold py-3 px-4 focus:outline-none focus:shadow-outline rounded-r-sm"
          type="button"
        >
          Let's fish ↝
        </button>
      </form>
    </div>
  </div>
</div>
{{outlet}}