<div class="flex flex-col" style="min-height: 100vh">
  <div class="flex-grow">
    <div class="bg-black" style="height: 0.3rem; opacity: 0.8" > &nbsp; </div>
    <header>
      <div class="p-3 clearfix">
        <div class="float-left">
          <img src="logo.png" alt="Fishboard" style="width: 200px; opacity: 0.9;">
        </div>
        <div class="float-right pt-1">
          {{link-to "login" "tournement" class="bg-transparent no-underline hover:bg-red text-red-dark uppercase hover:text-white py-2 px-4 border border-red hover:border-transparent rounded" type="button"}}
        </div>
      </div>
    </header>

  {{outlet}}
  </div>
  <div class="py-4 text-sm font-bold text-center bg-white uppercase">
    Brought to you by <a href="https://lonestarguide.com/"><img style="height: 40px; margin-bottom: -15px;" src="lsg-small.png"></a> Copyright 2019.
  </div>
</div>