<div style="
  height: 80vh;
  background-image:
    linear-gradient(to bottom, rgba(0,0,0, 0.1), rgba(0,0,0,0.9)),
    url('sample-hero.jpg')
  ;
  background-repeat: none;
  background-size:cover;
  background-position: center center;
  ">

  <div class="flex justify-center self-center items-center" style="height: 100%">
    <div class="text-white leading-loose ">
      <h1 class="text-5xl">Gulf Coast Open</h1>
      <h2 class="text-2xl">First annual LSG fishing tournement.</h2>

      <button class="border border-red bg-transparent text-red font-bold p-4 hover:bg-red hover:text-white">
        20% OFF Early-bird sign up
      </button>
    </div>
  </div>

</div>
<div class="bg-white m-4 p-4 -mt-8 leading-loose">
  <div style="max-width: 32rem;">
    <h1 class="mb-2">Event Details</h1>

    <h2 class="mb-2">Something about fishing</h2>

    <p class="mb-2">
      Spare ribs andouille meatloaf, boudin landjaeger pork loin meatball. Corned beef hamburger capicola ball tip beef jowl tri-tip. Porchetta tail fatback sirloin pork tenderloin. Cow sirloin tri-tip turducken.
    </p>

    <h2>Gear, Bait, and Spanish Tackle</h2>

    <p>
      Spare ribs andouille meatloaf, boudin landjaeger pork loin meatball. Corned beef hamburger capicola ball tip beef jowl tri-tip. Porchetta tail fatback sirloin pork tenderloin. Cow sirloin tri-tip turducken.
    </p>
    <img src="sample-map.png" style="max-width: 100%">
  </div>
</div>
<div class="m-4 p-4 bg-white">
  <div class="flex">
    <h2 class="flex-grow my-2">Register Individual</h2>
    <h2 class="my-2 mx-4">$50</h2>
    <button class="border border-red bg-transparent text-red font-bold p-4 hover:bg-red hover:text-white">
      Register Now
    </button>
  </div>
</div>

<div class="m-4 p-4 bg-white">
  <div class="flex">
    <h2 class="flex-grow my-2">Register Team</h2>
    <h2 class="my-2 mx-4">$50</h2>
    <button class="border border-red bg-transparent text-red font-bold p-4 hover:bg-red hover:text-white">
      Register Now
    </button>
  </div>
</div>

<div class="m-4 p-12 text-center leading-loose text-white" style="
  background-image:
    linear-gradient(to bottom, rgba(0,0,0, 0.1), rgba(0,0,0,0.9)),
    url('sample-unsplash.jpg')
  ;
  background-repeat: none;
  background-size:cover;
  background-position: center center;
">
  <h1>Terms of Competition</h1>
  <ol>
    <li>Catch big fish</li>
    <li>Don't hunt each other</li>
    <li>Biggest fish wins</li>
    <li>No Whinning</li>
  </ol>
</div>
<div>
  <div class="bg-white m-4 p-4 leading-loose">
    <h2>Event Location </h2>

    <h2>Map </h2>

    <h2>Social Media Stuff</h2>

    <h2>Other Photos </h2>

    <h2>Sponsonrs </h2>

    <h2>Teams </h2>

    <h2>Countdown </h2>

    <h2>Previous Winners</h2>

    <h2>Countdown</h2>
  </div>
</div>
{{outlet}}